.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.block {
  opacity: 0.2;
  height: 248px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0,0.3);
  margin-top: 15px;
  margin-right: 15px;
  padding: 5px;
  background-color: rgb(120, 180, 130);
  box-shadow: 11px 11px 10px rgba(0,0,0,0.7);
}

.block:hover {
  opacity: 1;
}