.header {
  background: linear-gradient(to bottom,#40ac62,#369656);
  height: 100px;
  color: white;
}

.headerButton {
  font-family: Tahoma, sans-serif;
  font-size: 17px;
  padding-top: 35px;
  height: 100px;
}
.btn-header{
  padding: 0;
  height: 35px;
  width: 100%;
  border-radius: 0;
}

.dropdown-toggle {
  font-family: Tahoma, sans-serif;
  font-size: 17px;
  color: white;
  margin-top: -4px;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle:focus{
  box-shadow: none;
}

.headerButton:hover, .btn-header:hover, .dropdown-toggle:hover {
  color: rgb(235, 235, 235);
  background-color: rgb(64, 172, 98);
  border-bottom-style: none;
 }

.engLogo {
  font-family: 'Century Gothic', sans-serif;
  font-size: 28px;
  padding-top: 15px;
}

a, a:hover {
  text-decoration: none;
  color: white;
}

.lowerLogo {
  font-family: 'Century Gothic', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 22px;
  color: rgb(255, 255, 255);
  text-shadow: none;
  padding-left: 3px;
  padding-right: 3px;
  font-weight: normal;
  font-style: normal;
}

.search {
  margin-top: 30px;
}

.dropdown-menu {
  background-color: #333;
}

.dropdown-item {
  color: #fff;
  background-color: #333;
  border: none;
}

.dropdown-item:hover {
  color: #fff;
  background-color: rgb(64, 172, 98);
}

.dropdown-item.active {
  background-color: rgb(64, 172, 98)
}

.user {
  border-radius: 50%;
  background-color: rgb(70, 130, 80);
  width: 35px;
  height: 35px;
  padding: 4px;
}

.logo {
  color: white;
  text-decoration: none;
}