.main-head{
  margin-top: 75px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.block {
  opacity: 0.2;
  height: 248px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0,0.3);
  margin-top: 25px;
  padding: 5px;
  background-color: rgb(120, 180, 130);
  box-shadow: 11px 11px 10px rgba(0,0,0,0.7);
}

.block:hover {
  opacity: 1;
}

.decoration {
  background-image: url(bob-van-aubel-ray-bans.jpg);
  top: 100px;
  height: 600px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat no-repeat;
}

.block-head {
  color: white;
  font-size: 20px;
  text-align: center;
}

.block-text {
  text-align: center;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

img.block-img {
  border: 5px solid white;
  width: 100%;
  position: center;
  height: 155px;
}

div.block-img {
  padding-left: 20px;
  padding-right: 20px;
}

.small-blocks {
  padding-top: 30px;
}