.form-check {
    height: 30px;
    font-size: 16px;
    padding-top: 8px;
}

select.form-control {
    width: 60px;
    margin: 0 0 0 auto;
}

.new-row {
    margin: 0 auto;
    padding-top: 20px;
}

.btn-block {
    margin-bottom: 7px;
}

.translation {
    display: block;
    height: 35px;
}

.btn-light {
    border-color: rgba(133, 133, 133, 0.61);
}

.words {
    margin: 30px 4px;
}

.words-hint {
    padding: 3px;
    margin: 10px 0 130px 0;
}

button.title_sound {
    height: 49px;
    width: 49px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.title_sound {
    height: 45px;
    padding: 0;
    margin: 0;
}

.view_port {
    height: 15px;
    width: 100%;
    overflow: hidden;
}

.hint {
    color: #969696;
}

.c_eye {
    height: 100%;
    border-radius: 4px;

    animation: 7.05s linear infinite forwards move_eye;
}

.video-hide {
    display: none;
}

@keyframes move_eye {
    from {
        width: 1%;
    }
    to {
        width: 100%;
    }
}