.form-check {
   height: 30px;
   font-size: 16px;
   padding-top: 8px;
 }

select.form-control {
  width: 60px;
  margin: 0 0 0 auto;
}

.new-row {
  margin: 0 auto ;
  padding-top: 20px ;
}

.btn-block {
  margin-bottom: 7px ;
}

.translation {
    display: block;
    height: 35px;
}

.btn-light {
    border-color: rgba(133,133,133,0.61);
}

.words {
    margin: 30px 4px ;
}