.img-video {
  width: 100%;
}

.new-video {
  padding: 0;
}

.new-video>.col {
  margin: 5px 0;
  padding: 5px;
}

.new-video-front {
  margin-bottom: 20px;
  background-color: rgb(230,230,230);
  width: 100%;
}

.img-button-video {
  margin: 10px;
  width: 30px;
  height: 25px;
}

.video-item:focus {
  outline: none;
}

.video-item {
  display: block;
  margin: 10px auto;
  height: 390px;
  width: 100%;
  border: 1px solid lightgrey;
  padding: 15px;
  border-radius: 15px;
}

.video-item-button{
  width: 100%;
}

.video-item-col{
  padding-right: 2px;
  padding-left: 0;
}

.a-col{
    width: 20px;
}

.b-col{
    width: 40px;
}

.c-col{
    width: 75px;
}

.video-item-col>input {
  font-size: 14px;
  padding: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 30px;
}

.video-item-col>span {
  padding-top: 10px;
  padding-left: 3px;
  display: inline-block;
}

.video-item-col>button {
  margin-top: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.odd {
  background: #49afcd;
  border: 1px solid grey;
  height: 45px;
}

.video-topic {
  font-size: 35px;
  margin: 10px auto;
}

.music {
  margin-top: 5px;
  float: left;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
}

.medium {
  margin-top: 5px;
  float: right;
  color: #333;
  font-size: 10px;
  text-transform: uppercase;
}

.card-vertical {
  padding: 10px;
  background-color: rgb(230,230,230);
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  list-style-type: none;
  margin: 5px;
}

.card-horizontal {
  padding: 10px;
  background-color: #fff;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  list-style-type: none;
  margin: 15px 5px;
}

.bottom-row{
  margin-bottom: 130px;
  margin-top: 10px;
  background: rgba(2, 178, 205, 0.56);
}

.badge {
  margin-bottom: 10px;
}

.jello-diagonal-1 {animation:jello-diagonal-1 .8s both}

@keyframes jello-diagonal-1{0%{transform:skew(0deg 0deg)}30%{transform:skew(25deg 25deg)}40%{transform:skew(-15deg,-15deg)}50%{transform:skew(15deg,15deg)}65%{transform:skew(-5deg,-5deg)}75%{transform:skew(5deg,5deg)}100%{transform:skew(0deg 0deg)}}

.blink-2{-webkit-animation:blink-2 .5s both;animation:blink-2 .5s both}

@-webkit-keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}@keyframes blink-2{0%{opacity:1}50%{opacity:.2}100%{opacity:1}}
