.new-video {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 10px !important;
  list-style-type: none;
  margin: 20px 0;
}

.new-video>.col {
  margin: 5px 0;
  padding: 5px;
}

.new-video-front {
  background-color: rgb(230,230,230);
  width: 100%;
}

.button-video {
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 10px !important;
  list-style-type: none;
}

.button-video:hover {
  background-color: #faf2cc;
}

.img-button-video {
  width: 30px;
  height: 25px;
}


.video-item {
  display: block;
  margin: 15px auto;
  height: 415px;
  width: 80%;
  border: 1px solid lightgrey;
  padding: 15px;
  border-radius: 15px;
}

.video-item-button{
  width: 100%;
}

.video-item-col{
  padding-right: 2px;
  padding-left: 0;
}

.a-col{
    width: 20px;
}

.b-col{
    width: 40px;
}

.c-col{
    width: 75px;
}

.video-item-col>input {
  font-size: 14px;
  padding: 2px;
  margin-top: 6px;
  margin-bottom: 6px;
  height: 30px;
}

.video-item-col>button {
  margin-top: 6px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.odd {
  background: #49afcd;
  border: 1px solid grey;
  height: 45px;
}

.video-topic {
  font-size: 35px;
  margin: 10px auto;
}

.music {
  float: left;
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
}

.medium {
  float: right;
  color: #999;
  font-size: 10px;
  text-transform: uppercase;
}